GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=qwiklabs-gcp-00-ae747d64a28b
GOOGLE_CLOUD_LOCATION=global

ALLOYDB_INSTANCE=projects/qwiklabs-gcp-00-ae747d64a28b/locations/us-central1/clusters/cepf-elevate-expenses/instances/cepf-elevate-expenses-primary
ALLOYDB_USER=student-04-1bcca417bfd3@qwiklabs.net
ALLOYDB_DATABASE=postgres
ALLOYDB_HOST=34.134.134.186
ALLOYDB_PORT=5432
ALLOYDB_PASSWORD=YOUR_PASSWORD_HERE
GOOGLE_API_USE_MTLS=never
